{% extends "layout.html" %}
{% block content %}
    <div class="col-md-6 offset-md-3">
        <div class="huge">Add Customer</div>
    </div>
    <div class="col-md-6 offset-md-3 border pt-2">
        <div class="row">
            <div class="col-md-12">
                <form method="POST" action="">
                {{ form.hidden_tag() }} <!--CSRF TOKEN -->
                   <fieldset class="form-group">
                        <div class="form-group">
                            {{ form.First_Name.label(class="form-control-label") }}
                            {{ form.First_Name(class="form-control form-control-lg") }}
                        </div>
                    </fieldset>
                    <fieldset class="form-group">
                        <div class="form-group">
                            {{ form.Last_Name.label(class="form-control-label") }}
                            {{ form.Last_Name(class="form-control form-control-lg") }}
                        </div>
                    </fieldset>
                    <fieldset class="form-group">
                        <div class="form-group">
                            {{ form.Address.label(class="form-control-label") }}
                            {{ form.Address(class="form-control form-control-lg") }}
                        </div>
                    </fieldset>
                    <fieldset class="form-group">
                        <div class="form-group">
                            {{ form.Contact_Number.label(class="form-control-label") }}
                            {{ form.Contact_Number(class="form-control form-control-lg") }}
                        </div>
                    </fieldset>
            </div>
        </div>

        <br>
        <div class="row">
            <div class="col-md-12">
                    <fieldset>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Add Customer</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}