{% extends "layout.html" %}
{% block content %}
    <div class="col-md-6 offset-md-3">
        <div class="huge">Add Location</div>
    </div>
    <div class="col-md-6 offset-md-3 border ">
        <br>
        <div class="row">
            <div class="col-md-12">
                <form method="POST" action="">
                {{ form.hidden_tag() }} <!--CSRF TOKEN -->
                    <fieldset class="form-group">
                        <div class="form-group">
                            {{ form.name.label(class="form-control-label") }}
                            {{ form.name(class="form-control form-control-lg") }}
                        </div>
                    </fieldset>
                    <fieldset class="form-group">
                        <div class="form-group">
                            {{ form.rent.label(class="form-control-label") }}
                            {{ form.rent(class="form-control form-control-lg") }}
                        </div>
                    </fieldset>
                    <div class="form-group">
                            {{ form.description.label(class="form-control-label") }}
                            {{ form.description(class="form-control form-control-lg") }}
                        </div>
                    </fieldset>
                    <div class="form-group">
<!--                        {{ form.submit(class="btn btn-primary navbar-dark bg-dark") }}-->
                        <button type="submit" class="btn btn-primary">Add Product</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}