{% extends "layout.html" %}
{% block content %}

        <div class="col-md-12">


                <h1> Inventory-Management</h1>
<h3> Languages Used:</h3>

<ul>
<li>Python Flask</li>
<li>JQuery</li>
<li>HTML</li>
<li>CSS</li>


   </ul>
<h3> Databases Used:</h3>
 <ul>
<li>SQLAlchemy (for Managing Users)</li>
<li>Postgres SQL(for Managing Products)</li>


 </ul>
<h3> Requirements</h3>

 <ul>
<li>Python Packages:</li>
<li>WTForms</li>
<li>SQLAlchemy</li>
<li>Postgres</li>
<li>Server(Localhost)</li>
<li>Postgres Server</li>


 </ul>


<h3> To Run the app</h3>
<ul>
<li>Fork the repository</li>
<li>Import the '.Flask' Package in pycharm Terminal</li>
<li>Test Accounts Present</li>
<li>Run the app and goto 'localhost:5000'</li>
<li>Email 1 : test@test.com</li>
<li>Password 1 : 123456</li>
<li>Email 2 : test1@test1.com</li>
<li>Password 2 : 123456</li>


 </ul>

        </div>
{% endblock content %}

