{% extends "layout.html" %}
{% block content %}
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <small class="text-muted">
                    <a href="{{ url_for('home.home') }}">Inventory Manager </a>
                    / Movement
                </small>
                <br><br>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12 border rounded pt-2">
                <div class="row">
                    <div class="col-md-10">
                        <h2>Inventory Product Movement</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

<br><br><br>

<table id="move" class="table table-striped" style="width:100%">
        <thead>
            <tr>
                <th>Movement ID</th>
                <th>Name</th>
                <th>From location</th>
                <th>To location</th>
                <th>Quantity</th>
                <th>Action</th>
        <thead>
       <tbody>
       </tbody>
       <tfoot>
       </tfoot>
    </table>

{% endblock content %}